@import "bootstrap-sprockets";
@import "bootstrap";

.alerts {
  text-align: center;
  font-size: 24px;
  font-color: white;
  background-color: red;
}

.jumbotron {
  text-align: center;
  background-color: #f6faf1;
}

body {
  background-color: #cbdeed;
}
