<div class="jumbotron">
  <h1>Space Trips</h1>
  <p>shoot for the moon and let your next vacation be out of this world</p>
</div>

<div class="row">
  <div class="col-md-8">
    <h3>All Trips</h3>
    <% if current_user && current_user.admin == true %>
      <p><%= link_to "Add a New Trip", new_product_path %></p>
    <% end %>
    <ul class="all_products">
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product)%>, <%= product.cost %></li>
      <% end %>
    </ul>
  </div>
</div>
